{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home - Job Portal</title>
{% endblock %}

{% block content %}

<section class="home">
  <div class="home-left">
    <h1>Find Your Dream Job Today 🚀</h1>
    <p>Search jobs, apply easily, and get hired faster with JobPortal.</p>

    <div class="home-buttons">
      <a href="/jobs/" class="btn-primary">Explore Jobs</a>
      <a href="{% url 'register_url' %}" class="btn-secondary">Create Account</a>
    </div>
  </div>

  <div class="home-right">
    <img src="{% static 'images/img1.png' %}" alt="Job Portal Image">
  </div>
</section>


<section class="home-cards">
  <h2>Top Categories</h2>

  <div class="card-container">

    <div class="card">
      <img src="{% static 'images/job1.png' %}" alt="IT Jobs">
      <h3>IT Jobs</h3>
      <p>Software, Web, Cloud, Data roles.</p>
    </div>

    <div class="card">
      <img src="{% static 'images/job2.png' %}" alt="Design Jobs">
      <h3>Design Jobs</h3>
      <p>UI/UX, Graphics, Product design.</p>
    </div>

    <div class="card">
      <img src="{% static 'images/job3.png' %}" alt="Marketing Jobs">
      <h3>Marketing Jobs</h3>
      <p>SEO, Ads, Content and Social media.</p>
    </div>

  </div>
</section>

{% endblock %}
