<nav class="navbar">
  <div class="nav-container">

    <a href="/" class="logo">JobPortal</a>

    <ul class="nav-links">
      <li><a href="{% url 'home_url' %}" class="active">Home</a></li>
      <li><a href="{% url 'about_url' %}">About</a></li>
      <li><a href="{% url 'contact_url' %}">Contact Us</a></li>

      {% if user.is_authenticated %}
        <li><a href="{% url 'create_url' %}">Create Job</a></li>

        {% if user.is_superuser %}
          <li><a href="{% url 'show_url' %}">Vacancies</a></li>
        {% endif %}

        <li><a href="{% url 'logout_url' %}" class="btn-logout">Logout</a></li>

        <li class="nav-item">
          <h5>{{ user.username }}</h5>
        </li>
      {% endif %}
    </ul>

    {% if not user.is_authenticated %}
    <div class="nav-buttons">
      <a href="{% url 'login_url' %}" class="btn-login">Login</a>
      <a href="{% url 'register_url' %}" class="btn-register">Register</a>
    </div>
    {% endif %}

  </div>
</nav>
