{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Login-PAGE</title>
{% endblock %}



{% block content %}
<div class="auth-container">

  <form method="POST" class="auth-form">
    {% csrf_token %}

    <h2>User Login</h2>

    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter username" required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password" required>
    </div>

    <button type="submit" class="btn-auth">Login</button>

    <p class="small-text">
      Don’t have an account?
      <a href="{% url 'register_url' %}">Register</a>
    </p>

  </form>

</div>


<style>
    .auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.auth-form {
  width: 350px;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-auth {
  width: 100%;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.small-text {
  text-align: center;
  margin-top: 12px;
}
</style>


{% endblock %}